* {
    box-sizing: border-box;
}

:root {
    --fontfamilyos: 'Open Sans', sans-serif;
    --fontfamilyr: 'Raleway', sans-serif;
}


.all {
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/*początek headera*/
.header {
    position: fixed;
    background: white;
    width: 100%;
    height: 70px;
    left: 0;
    right: 0;
    z-index: 11111;
    box-shadow: 0 3px 6px #00000029;

}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;

}

.logo span {
    font-family: var(--fontfamilyr);
    font-size: 32px;
    color: #08A6E4;
}

.menu {
    height: 100%;
    color: #000000;

}

.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-link {
    font-family: var(--fontfamilyos);
    font-size: 11px;
    color: #A5A5A5;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    padding-right: 42px;
    padding-left: 42px;
    border-bottom: 4px solid transparent;
}
.menu-link:hover{
    color: black;
    border-bottom: 4px solid #08A6E4;
}

.menu-el {
}
.sell{
    background: url("../assets/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 150px;
}

.sell-title{
    font-family: var(--fontfamilyr);
    font-size: 49px;
    text-align: center;
    color: black;
    position: relative;
}
.sell-text{
    position: relative;
    font-family: var(--fontfamilyos);
    font-size: 16px;
    color: black;
    text-align: center;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 38px;
}
.sell-button{
    position: relative;
    width: 440px;
    height: 67px;
    background: #08A6E4;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;

}
.sell-btn-open{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: var(--fontfamilyos);
    font-size: 16px;
    margin-top: 25px;

}

.statistic{
    padding-top: 60px;
    padding-bottom: 100px;
    max-height: 531px;
}

.statistic-container .container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.statistic-title{
    font-family: var(--fontfamilyr);
    font-size: 36px;
    color: black;
    text-align: center;
    padding-bottom: 100px;

}
.row{
    display: flex;
    justify-content: center;
    align-items: center;

}
.col{
padding-left: 45px;
}


.art{

}

.art-uklad{
    display: inline-flex;
}
.art-title{
    font-family: var(--fontfamilyr);
    font-size: 20px;
    color: black;
}
.art-img{
    height: 63px;
    width: 63px;
    transform: translate(-40px) ;
}

.figura{
    width: 63px;
    height: 63px;
    border-radius: 50%;
}
.figura-1{
    background: #FB3B64;
}
.figura-2{
    background: #08A6E4;
}
.figura-3{
    background: #55DFB4;
}



.benefity{
    background: #F7F7F7;
}
.benefity-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.benefity-col{
    padding-top: 106px;
}
.block{
    background: white;
    width: 1124px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
}

.benefity-col .block:nth-child(3){
    background: #F7F7F7;
}

.block-img1{
    width: 386px;
    height: 219px;
    z-index: 1;
    margin-bottom: 38px;
}
.block-img2{
    width: 426px;
    height: 328px;
    z-index: 1;
    margin-top: 29px;
    margin-left: 70px;
}
.block-img3{
    width: 296px;
    height: 208px;
}

.block-symbols1{
    width: 562px;
    height: 370px;
    padding-left: 36px;

}
.block-symbols2{
    width: 562px;
    height: 370px;

}
.block-symbols3 {
    width: 623px;
    height: 370px;
    padding-left: 36px;
    background: white;
    /*border-right: 31px solid #F7F7F7;*/

}
.block-visual1{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 562px;
    height: 370px;
    padding-right: 100px;

}
.block-visual2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 562px;
    height: 370px;

}

.block-visual3{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #55DFB4;
    width: 440px;
    height: 370px;
    /*border-left: 30px solid #F7F7F7;*/
}

.block-title{
    font-family:  var(--fontfamilyr);
    text-align: left;
    font-size: 36px;
    color: black;
    padding-top: 91px;
    padding-bottom: 30px;
}
.block-text{
    font-family: var(--fontfamilyos);
    text-align: left;
    font-size: 16px;
    color: black;
    width: 416px;
    padding-bottom: 50px;
}

.block-line1 {
    width: 328px;
    height: 0;
    border: 4px solid #08A6E4;
    padding-left: 15px;
}
.block-line2{
    width: 328px;
    height: 0;
    border: 4px solid #FB3B64;
    padding-left: 15px;
}

.block-line3 {
    width: 328px;
    height: 0;
    border: 4px solid #55DFB4;
    padding-left: 15px;
}

.krztalt1{
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 41px;
    background: #FB3B64;
    transform: rotate(45deg);
    margin-bottom: 77px;
}
.krztalt2{
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #07ACE6;
    margin-top: 12px;
    margin-left: 70px;
}

.pricing{}
.pricing-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-col{

}
/*.pricing-title{}*/
.pricing-options{}
.pricing-option1{
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-option2 {
    width: 405px;
    height: 500px;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 5px 10px 27px #07ACE629;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing-option-title{
    font-family: var(--fontfamilyr);
    font-size: 20px;
    font-weight: bold;
    color: #13253B;
}
.pricing-option-price{
    font-family: var(--fontfamilyos);
    font-size: 46px;
    color:#FB3B64;
}
.pricing-option-list{}
.pricing-option-list-el{}



